.front-part {
   width: 100%;
   height: 4346px;
   position: absolute;
   z-index: 1;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   will-change: transfrom;
}

@media (min-width: 1366px) {
   .front-part {
      width: 1366px;
   }
}