.nav__menu-element {
    font-family: 'Roboto';
    font-weight: 600;
    flex-grow: 1;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}