.nav {
    width: 25px;
    height: 25px;
    background-color: transparentize(white, 0.5);

    margin-left: 63px;
    width: 691px;
    height: 51px;

    display: flex;
    
    .nav__menu-element {
        height: 100%;
        width: 20px;
        background-color: transparentize(red, 0.5);
    }
}