.nav {
    width: 25px;
    height: 25px;
    background-color: transparentize(white, 0);

    margin-left: 63px;
    width: 691px;
    height: 51px;

    display: flex;
    
    .nav__menu-element {
        font-family: 'Roboto';
        font-weight: 600;
        flex-grow: 1;
        font-size: 12px;
        //background-color: transparentize(red, 0.5);
        cursor: pointer;

        display: flex;
        justify-content: center; 
        align-items: center;
    }
}